[Unit]
Description=WiiLand input bridge
Documentation=man:wiilandd(1)
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStartPre=wiilandd --check-config
ExecStart=wiilandd
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=default.target
