[Unit]
Description=WiiLand input bridge
Documentation=man:wiilandd(1)
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecCondition=/usr/local/bin/wiilandd --check-config
ExecStart=/usr/local/bin/wiilandd
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=graphical-session.target
